{% extends 'list.html' %}
{% load static %}

{% block head_list %}
<script src="{% static 'experiencia/js/list.js' %}"></script>
{% endblock %}

{% block columns %}
<th scope="col" style="width: 5%;">ID</th>
<th scope="col" style="width: 10%;">Cargo</th>
<th scope="col" style="width: 25%;">Institución</th>
<th scope="col" style="width: 25%;">Empleado</th>
<th scope="col" style="width: 10%;">Fecha Fin</th>
<th scope="col" style="width: 15%;">Archivo</th>
<th scope="col" style="width: 10%;" class="text-center">Opciones</th>
{% endblock %}

