{% extends 'list.html' %}

{% block columns %}
    <th>ID</th>
     <th>CI</th>
     <th>Nombre</th>
     <th>Apellido</th>    
     <th>Celular</th>    
    <th class="text-center">Opciones</th>
{% endblock %}

{% block rows %}
    {% for i in object_list %}
        <tr>
            <td>{{ i.id }}</td>
             <td>{{ i.ci }}</td>
             <td>{{ i.nombre }}</td>
             <td>{{ i.apellido }}</td>
             <td>{{ i.celular }}</td>
            <td class="text-center">
                <a href="{% url 'persona_update' i.id %}" data-toggle="tooltip" title="Editar registro"
                   class="btn btn-warning btn-xs btn-flat">
                    <i class="fas fa-edit"></i>
                </a>
                <a href="{% url 'persona_delete' i.id %}" rel="delete" data-toggle="tooltip" title="Eliminar registro"
                   class="btn btn-danger btn-xs btn-flat">
                    <i class="fas fa-trash"></i>
                </a>
            </td>
        </tr>
    {% endfor %}
{% endblock %}

