{% extends 'list.html' %}
{% load static %}
{% block head_list %}
<script src="{% static 'formacion/js/list.js' %}"></script>
{% endblock %}

{% block columns %}
<th scope="col" style="width: 5%;">ID</th>
<th scope="col" style="width: 10%;">Titulo Obtenido</th>
<th scope="col" style="width: 25%;">Nivel Académico</th>
<th scope="col" style="width: 25%;">Institución</th>
<th scope="col" style="width: 10%;">Año Graduación</th>
<th scope="col" style="width: 15%;">Archivo</th>
<th scope="col" style="width: 10%;" class="text-center">Opciones</th>
{% endblock %}