{% extends 'form.html' %}
{% load widget_tweaks %}
{% load static %}
{% block head_form %}
<script src="{% static 'lib/select2-4.0.13/js/select2.min.js' %}"></script>
<script src="{% static 'lib/select2-4.0.13/js/i18n/es.js' %}"></script>
<link rel="stylesheet" href="{% static 'lib/select2-4.0.13/css/select2.min.css' %}">
<link rel="stylesheet" href="{% static 'lib/select2-4.0.13/css/select2-bootstrap4.min.css' %}">
<link rel="stylesheet" href="{% static 'lib/bootstrap-touchspin-v4.2.5/css/jquery.bootstrap-touchspin.css' %}" />
<script src="{% static 'lib/bootstrap-touchspin-v4.2.5/js/jquery.bootstrap-touchspin.js' %}"></script>
<script src="{% static 'lib/tempusdominus-bootstrap-4/tempusdominus-bootstrap-4.min.js' %}"></script>
<link rel="stylesheet" href="{% static 'lib/tempusdominus-bootstrap-4/tempusdominus-bootstrap-4.min.css' %}" />
<script src="{% static 'transaccion/js/form.js' %}"></script>
<!-- jQuery Form Plugin -->
<!-- El complemento de formulario jQuery le permite actualizar formularios HTML de manera fácil y discreta para usar AJAX -->
<script src="{% static 'lib/jquery.form/4.3.0/jquery.form.min.js' %}"></script>
{% endblock %}

{% block content %}

<form class="form" method="post" action="." enctype="multipart/form-data" id="frmTransaccion"
    data-url="{% url 'purchase_list' %}">
    <div class="card {{ dshboard.card }}">
        <div class="card-header">
            <h3 class="card-title">
                {% if action == 'add' %}
                <i class="fas fa-plus"></i>
                {% else %}
                <i class="fas fa-edit"></i>
                {% endif %}
                {{ title }}
            </h3>
        </div>
        <div class="card-body" style="display: block;">
            <div class="container-fluid">
                {% csrf_token %}
                <input type="hidden" id="action" name="action" value="{{ action }}">
                <div class="row">
                    <div class="col-md-1">
                        <div class="form-group">
                            <label class="control-label">Fecha:</label>
                            {{ form.fec_movimiento }}
                        </div>
                    </div>
                    <div class="col-md-1">
                        <div class="form-group">
                            <label class="control-label">Codigo:</label>
                            {{ form.cod_movimiento }}
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="form-group">
                            <label class="control-label">Timbrado/Nro. Factura:</label>
                            {{ form.nro_factura }}
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="form-group">
                            <label class="control-label">Timbrado/Nro. Recibo:</label>
                            {{ form.nro_recibo }}
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="control-label">Buscar Cliente:
                            </label>
                            <div class="input-group input-group-search">
                                {{ form.socio }}
                                <div class="input-group-append">
                                    <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown"
                                        aria-haspopup="true" aria-expanded="false"><i class="fas fa-tasks"></i>
                                    </button>
                                    <div class="dropdown-menu dropdown-menu-right" style="cursor: pointer;">
                                        <a class="dropdown-item btnAddProvider">
                                            <i class="fas fa-plus"></i> Crear proveedor
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <hr>
                <div class="row">
                    <div class="col-lg-12">
                        <div class="form-group">
                            <label>Búsqueda de Transacciones:</label>
                            <div class="input-group input-group-search">
                                {{ form.transaccion }}
                                <!-- <input type="text" class="form-control" autocomplete="off" name="searchtransacciones"
                                    placeholder="Ingrese el nombre de un producto"> -->
                                <div class="input-group-append">
                                    <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown"
                                        aria-haspopup="true" aria-expanded="false"><i class="fas fa-tasks"></i>
                                    </button>
                                    <div class="dropdown-menu dropdown-menu-right" style="cursor: pointer;">
                                        <a class="dropdown-item btnSearchTransacciones"><i class="fas fa-search"></i>
                                            Buscar Transacciones</a>
                                        <a class="dropdown-item btnClearTransacciones"><i class="fas fa-times"></i>
                                            Limpiar búsqueda</a>
                                        <a class="dropdown-item btnRemoveAllTransacciones"><i
                                                class="fas fa-trash-alt"></i>
                                            Borrar todo</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12">
                        <table width="100%" class="table table-bordered display nowrap" id="tblTransacciones">
                            <thead>
                                <tr>
                                    <th style="width: 10%;">Eliminar</th>
                                    <th style="width: 10%;">Cod. Transaccion</th>
                                    <th style="width: 50%;">Transaccion</th>
                                    <th style="width: 10%;">Moneda</th>
                                    <th style="width: 20%;">Importe</th>
                                    <!-- <th style="width: 10%;">Subtotal</th> -->
                                </tr>
                            </thead>
                            <tbody>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="row d-flex flex-row-reverse">
                    <div class="col-lg-4">
                        <table class="table table-bordered">
                            <tbody>
                                <tr>
                                    <td><b style="font-size: 30px;">TOTAL</b></td>
                                    <td>{{ form.total }}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div class="card-footer">
            <button type="submit" class="btn btn-primary btn-flat">
                <i class="fas fa-save"></i> Guardar registro
            </button>
            <a href="{{ list_url }}" class="btn btn-danger btn-flat">
                <i class="fas fa-times"></i> Cancelar
            </a>
        </div>
    </div>
</form>





<!-- <p>Click <a data-toggle="modal" data-target="#modal" href="{% url 'trx700_create'  %}">here</a> to show the modal</p> -->
<!-- <a class="button" data-toggle="modal" data-target="#modal" href="{% url 'trx700_create'  %}"> -->
<a id="btnTRX" class="btn btn-primary" href="#" role="button">TRX</a>
<!-- <button type="button" id="MybtnModal" class="btn btn-primary">Open Modal Using jQuery</button> -->

<div class="modal fade" id="modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle"
    data-backdrop="true" data-focus="true" data-show="true" aria-hidden="true">

    <script>

        var id;

        $(document).ready(function () {


            $('#btnTRX').click(function () {

                id = $('select[name="socio"]').val()
                console.log(id)

                if (id.length == 0) {
                    alert('Debe ingresar nro de socio');
                    $('#modal').trigger('reset');
                    return false
                };
                $('#modal').modal('show')

            });
        });

        $('#modal').on('show.bs.modal', function (event) {
            var modal = $(this)

            $.ajax({
                url: "{% url 'trx700_create' %}",
                type: 'POST',
                data: {
                    action: 'search',
                    socio: id
                },
                // context: document.body
            }).done(function (response,) {
                modal.html(response);
                console.log(response)
            });
        });

        $('#modal').on('hidden.bs.modal', function (e) {
            // alert('me estas ocultando ');
            $('#modal').modal('hide');
            transaccion.list_transacciones();

        });





    </script>

    <div id="myModalProvider" class="modal fade" role="dialog">
        <form class="form" id="frmProvider" method="POST">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">
                            <b><i class="fa fa-plus"></i> Nuevo registro de un proveedor</b>
                        </h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="container-fluid">
                            {% for field in frmProvider.visible_fields %}
                            <div class="form-group">
                                <label>{{ field.label }}:</label>
                                {{ field|add_class:'form-control'|attr:'autocomplete:off' }}
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-primary btn-flat btn-block">
                            <i class="fas fa-save"></i> Guardar registro
                        </button>
                    </div>
                </div>
            </div>
        </form>

    </div>
    <div id="myModalSearchProducts" class="modal fade" role="dialog">
        <div class="modal-dialog modal-xl">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">
                        <b><i class="fa fa-search"></i> Búsqueda de Transacciones</b>
                    </h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="container-fluid">
                        <table width="100%" class="table table-bordered display nowrap" id="tblSearchTransacciones">
                            <thead>
                                <tr>
                                    <th style="width: 35%;">Modulo</th>
                                    <th style="width: 15%;">Denominacion de la Transaccion</th>
                                    <th style="width: 15%;">Precio de Compra</th>
                                    <th style="width: 15%;">Precio de Venta</th>
                                    <th style="width: 10%;">Stock</th>
                                    <th style="width: 10%;">Agregar</th>
                                </tr>
                            </thead>
                            <tbody>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% endblock %}


    {% block content_modals %}
    <!-- THE MODAL WE WILL BE USING -->
    <div class="modal fade" id="modal-elector">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
            </div>
        </div>
    </div>
    {% endblock %}