{% load static %}
<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <title>Currículum Vitae</title>
    <link rel="stylesheet" href="{% static 'css/cv.css' %}" />
  </head>

  <body>
    <!-- ENCABEZADO EMPRESA CONFIGURADA -->
    <header class="empresa-header">
      <div class="empresa-logo-wrapper">
        {# Asumiendo que la sucursal o el empleado tiene relación con la empresa configurada #}
        {% if empleado.sucursal.empresa.logo %}
          <img src="{{ empleado.sucursal.empresa.logo.url }}" class="logo-empresa" alt="Logo Empresa" />
        {% else %}
          <img src="{% static 'img/logo_default.png' %}" class="logo-empresa" alt="Logo" />
        {% endif %}
      </div>
      <div class="empresa-info">
        <h2 class="empresa-denominacion">{{ empleado.sucursal.empresa.denominacion }}</h2>
        <p class="documento-titulo">Currículum Vitae Institucional</p>
      </div>
    </header>

    <!-- ENCABEZADO FUNCIONARIO EMPLEADO -->
    <header class="cv-header" style="display: flex; justify-content: space-between; align-items: center; margin-bottom: 30px; border-bottom: 1px solid #eee; padding-bottom: 20px;">
      <div class="header-info" style="flex: 1;">
        <h1 class="nombre" style="margin: 0; font-size: 1.2rem; color: #2d4154; text-transform: uppercase;">{{ empleado.nombre_apellido }}</h1>
        <p class="cargo">{{ empleado.cargo_actual }}</p>
        <p class="dependencia">{{ empleado.dependencia_actual }}</p>
        <p class="sede">{{ empleado.sede_actual }}</p>
      </div>

      <div class="foto-wrapper" style="margin-left: 20px;">
        {% if empleado.usuario.image %}
          <img src="{{ empleado.usuario.image.url }}" alt="Foto tipo carnet" class="foto-carnet" />
        {% else %}
          <img src="{% static 'img/default-user.png' %}" alt="Sin foto" class="foto-carnet" />
        {% endif %}
      </div>
    </header>

    <!-- DATOS PERSONALES -->
    <section class="cv-section">
      <h2 class="section-title">Información Personal</h2>
      <ul class="section-list" style="display: grid; grid-template-columns: 1fr 1fr; gap: 10px; list-style: none; padding: 0;">
        <li>
          <strong>Legajo:</strong> {{ empleado.legajo|default:'----' }}
        </li>
        {% comment %} <li>
          <strong>Sucursal:</strong> {{ empleado.sucursal.denominacion }}
        </li> {% endcomment %}
        <li>
          <strong>Documento de Identidad:</strong> {{ empleado.ci }}
        </li>
        <li>
          <strong>RUC:</strong> {{ empleado.ruc|default:'Sin RUC' }}
        </li>
        <li>
          <strong>Fecha de Nacimiento:</strong> {{ empleado.fecha_nacimiento|date:'d/m/Y' }} ({{ empleado.get_edad }} años)
        </li>
        <li>
          <strong>Nacionalidad:</strong> {{ empleado.nacionalidad.nacionalidad }}
        </li>
        <li>
          <strong>Sexo:</strong> {{ empleado.sexo.denominacion }}
        </li>
        <li>
          <strong>Estado Civil:</strong> {{ empleado.estado_civil.denominacion }}
        </li>

        <li>
          <strong>Email:</strong> {{ empleado.email }}
        </li>
        <li>
          <strong>Teléfono / Celular:</strong> {{ empleado.telefono }} / {{ empleado.celular }}
        </li>

        <li>
          <strong>Ciudad:</strong> {{ empleado.ciudad.denominacion }}
        </li>
        <li>
          <strong>Barrio:</strong> {{ empleado.barrio.denominacion|default:'---' }}
        </li>
        <li>
          <strong>Dirección:</strong> {{ empleado.direccion }}
        </li>
        <li>
          <strong>Tipo Sanguíneo:</strong> {{ empleado.tipo_sanguineo.denominacion|default:'No especificado' }}
        </li>
      </ul>
    </section>

    <!-- FORMACIÓN -->
    <div style="page-break-inside: avoid;">
      <section class="cv-section">
        <h2 class="section-title">Formación Académica</h2>
        <ul class="section-list">
          {% for f in empleado.formacionacademica.all %}
            <li class="for-item">
              <strong>{{ f.anho_graduacion }} - {{ f.nivel_academico|upper }}</strong>
              <br />
              {{ f.denominacion_carrera }} - {{ f.institucion|upper }}
              <br />
              Titulo Obtenido: {{ f.titulo_obtenido|upper }}

              <br />
              {% if f.archivo_pdf %}
                <a href="{{ f.archivo_pdf.url }}" target="_blank" class="pdf-link"><span class="badge badge-danger">Ver pdf</span></a>
              {% endif %}
            </li>
          {% empty %}
            <li>No hay registros académicos.</li>
          {% endfor %}
        </ul>
      </section>

      <!-- OTROS ESTUDIOS -->
      <section class="cv-section">
        <h2 class="section-title">Otros Estudios</h2>
        <ul class="section-list">
          {% for c in empleado.capacitacion.all %}
            <li class="cap-item">
              <strong>{{ c.nombre_capacitacion }}</strong> - {{ c.institucion }} (del {{ c.fecha_inicio|date:'d/m/Y' }} al {{ c.fecha_fin|date:'d/m/Y' }})
              <br />
              {% if c.archivo_pdf %}
                <a href="{{ c.archivo_pdf.url }}" target="_blank" class="pdf-link"><span class="badge badge-danger">Ver pdf</span></a>
                {% comment %}
              {% else %}
                <small>Sin archivo pdf</small>{% endcomment %}
              {% endif %}
            </li>
          {% empty %}
            <li>No hay registros de capacitación.</li>
          {% endfor %}
        </ul>
      </section>

      <!-- EXPERIENCIA -->
      <section class="cv-section">
        <h2 class="section-title">Experiencia Laboral</h2>
        <ul class="section-list">
          {% for e in empleado.experiencia_laboral.all %}
            <li class="exp-item">
              <strong>{{ e.cargo|upper }}</strong> en {{ e.empresa|upper }}<br />
              {{ e.fecha_desde|date:'F Y' }} –{% if e.fecha_hasta %}
                {{ e.fecha_hasta|date:'F Y' }}
              {% else %}
                Actualidad
              {% endif %}
              <br />
              {{ e.descripcion }}

              {% if e.archivo_pdf %}
                <a href="{{ e.archivo_pdf.url }}" target="_blank" class="pdf-link"><span class="badge badge-danger">Ver pdf</span></a>
                {% comment %}
              {% else %}
                <small>Sin archivo pdf</small>{% endcomment %}
              {% endif %}
            </li>
          {% empty %}
            <li>No hay registros de experiencia laboral.</li>
          {% endfor %}
        </ul>
      </section>

      <!-- INFORMACIÓN LABORAL -->
      <section class="cv-section" style="margin-top: 20px; page-break-inside: avoid;">
        <h2 class="section-title" style="border-bottom: 2px solid #333; font-size: 1.2rem; text-transform: uppercase; margin-bottom: 10px;">Información Laboral</h2>

        <ul class="section-list" style="display: grid; grid-template-columns: 1fr 1fr; gap: 10px; list-style: none; padding: 0;">
          <li class="inf-item">
            <strong>Fecha de Ingreso:</strong> {{ empleado.fecha_ingreso|date:'d/m/Y'|default:'---' }}
          </li>

          <li class="inf-item">
            <strong>Antigüedad:</strong>
            {% if empleado.get_antiguedad %}
              {{ empleado.get_antiguedad }}
            {% else %}
              ---
            {% endif %}
          </li>

          <li class="inf-item">
            <strong>Resolución de Ingreso:</strong>
            {% if empleado.archivo_pdf_ingreso %}
              <a href="{{ request.build_absolute_uri }}{{ empleado.archivo_pdf_ingreso.url }}" target="_blank" class="pdf-link"><span class="badge badge-danger">Ver pdf</span></a>
            {% else %}
              <span style="color: #888;">No adjunto</span>
            {% endif %}
          </li>

          {% if empleado.fecha_egreso %}
            <li class="inf-item">
              <strong>Fecha de Egreso:</strong> {{ empleado.fecha_egreso|date:'d/m/Y' }}
            </li>
            <li class="inf-item">
              <strong>Resolución de Egreso:</strong>
              {% if empleado.archivo_pdf_egreso %}
                <a href="{{ request.build_absolute_uri }}{{ empleado.archivo_pdf_egreso.url }}" target="_blank" class="pdf-link"><span class="badge badge-danger">Ver pdf</span></a>
              {% else %}
                <span style="color: #888;">No adjunto</span>
              {% endif %}
            </li>
          {% endif %}
        </ul>
      </section>

      <!-- TRAYECTORIA -->
      <section class="cv-section">
        {% comment %} <h2 class="section-title">Puesto Actual en la Empresa</h2> {% endcomment %}
        <ul class="trayectoria-list">
          {% for e in empleado.empleado_posicion.all %}
            <li class="trayectoria-item">
              <div class="trayectoria-header">
                <strong>{{ e.tipo_movimiento.denominacion }}</strong> - {{ e.dependencia_posicion }}
                <br />
                {% if e.cargo_puesto_actual %}
                  <span class="badge badge-success">Cargo Actual</span>
                {% endif %}
              </div>

              <small class="text-muted">
                {{ e.fecha_inicio|date:'d/m/Y' }}
                {% if e.fecha_fin %}
                  – {{ e.fecha_fin|date:'d/m/Y' }}
                {% else %}
                  – Actualidad
                {% endif %}
              </small>

              <br />

              <small>Vínculo: {{ e.vinculo_laboral.denominacion }} | Legajo: {{ e.legajo }}</small>

              {% if e.archivo_pdf %}
                <br />
                <a href="{{ e.archivo_pdf.url }}" target="_blank" class="pdf-link"><span class="badge badge-danger">Ver pdf</span></a>
              {% else %}
                <br />
                <small>Falta archivo pdf resolución</small>
              {% endif %}
            </li>
          {% empty %}
            <li class="text-muted">No hay registros de movimientos o cargos asignados.</li>
          {% endfor %}
        </ul>
      </section>
    </div>
  </body>
</html>
