{% extends 'list.html' %}
{% load static %}
{% block head_list %}
<script src="{% static 'empleado/js/list.js' %}"></script>
{% endblock %}

{% block columns %}
<th scope="col" style="width: 5%;">ID</th>
<th scope="col" style="width: 10%;">CI</th>
<th scope="col" style="width: 25%;">Nombre</th>
<th scope="col" style="width: 25%;">Apellido</th>
<th scope="col" style="width: 10%;">Edad</th>
<th scope="col" style="width: 15%;">Tel. Contacto</th>
<th scope="col" style="width: 10%;" class="text-center">Opciones</th>
{% endblock %}