{% extends 'list.html' %}
{% load static %}
{% block head_list %}
  <script src="{% static 'empleado/js/list.js' %}"></script>
{% endblock %}

{% block content_list_before %}
  {% include 'empleado/filter.html' %}
{% endblock %}

{% block columns %}
  <th scope="col" style="width: 1%;" class="text-nowrap">ID</th>
  <th scope="col" class="text-nowrap">Sede</th>
  <th scope="col" class="text-nowrap">CI</th>
  <th scope="col" class="text-nowrap">Legajo</th>

  <th scope="col">Nombre</th>
  <th scope="col">Apellido</th>

  <th scope="col" style="width: 1%;" class="text-center">Edad</th>
  <th scope="col" class="text-nowrap">Tel. Contacto</th>

  <th scope="col" style="width: 1%;" class="text-center text-nowrap">Opciones</th>
{% endblock %}
