{% extends 'login/base.html' %}
{% load static %}
{% load widget_tweaks %}

{% block head_login %}
  <script src="{% static 'login/js/login.js' %}"></script>
{% endblock %}

{% block content %}
  <div class="login-box">
    <div class="card-body login-card-body">
      <div class="contact-image">
        <i class="{{ dshboard.get_icon }}"></i>
      </div>
      <p class="login-box-msg text-center">
        <span class="msg-header">ACCESO</span><br />
        <span class="msg-subheader">Sistema de Gestión de Legajos</span><br />
        <span class="msg-app-name">SGL</span>
      </p>

      <form method="post" id="frmLogin">
        {% csrf_token %}
        <input type="hidden" name="next" value="{{ next }}" />

        <div class="form-group">
          <label class="text-muted small font-weight-bold">USUARIO</label>
          {{ form.username|add_class:'form-control'|attr:'placeholder:Introduzca el nombre de usuario' }}
        </div>

        <div class="form-group">
          <label class="text-muted small font-weight-bold">CONTRASEÑA</label>
          <div class="input-group">
            {{ form.password|add_class:'form-control'|attr:'placeholder:Introduzca la contraseña' }}
            <div class="input-group-append">
              <button class="btn btnShowPassword" type="button"><i class="fas fa-eye"></i></button>
            </div>
          </div>
        </div>

        <div class="row mt-4">
          <div class="col-12">
            <button type="submit" class="btn btn-primary btn-block btn-qnap">Iniciar sesión</button>
          </div>
        </div>
      </form>

      <div class="mt-4 text-center">
        <p class="desc mb-1">¿Olvidó su contraseña?</p>
        <p class="desc">
          <a href="{% url 'reset_password' %}">Restablecer ahora</a>
        </p>
      </div>
    </div>

    <div class="text-center mt-3 text-white-50 small">
      <p>© 2026 GTIC Sistemas, Inc. Todos los derechos reservados.</p>
    </div>
  </div>

  <script type="application/javascript">
        var errors = "";
        {% if form.errors %}
            {% for field in form %}
                {% for error in field.errors %} errors += "{{ error }}\n"; {% endfor %}
            {% endfor %}
            {% for error in form.non_field_errors %} errors += "{{ error }}\n"; {% endfor %}
            
            Swal.fire({
                icon: 'info',
                title: 'Aviso del sistema',
                text: errors,
                confirmButtonColor: '#007bff'
            });
        {% endif %}
    </script>
{% endblock %}
