{% extends 'list.html' %}
{% load static %}
{% block head_list %}
    <link rel="stylesheet"
          href="{% static 'lib/bootstrap-daterangepicker-3.0.5/daterangepicker.css' %}"/>
    <script src="{% static 'lib/bootstrap-daterangepicker-3.0.5/spanish.js' %}"></script>
    <script src="{% static 'lib/bootstrap-daterangepicker-3.0.5/daterangepicker.js' %}"></script>
    <script src="{% static 'formacion_academica/js/list.js' %}"></script>
    {% comment %} <script src="{% static 'formacion_academica/js/search_select2.js' %}"></script> {% endcomment %}
{% endblock head_list %}
{% block columns %}
    <th scope="col" style="width: 4%;">ID</th>
    <th scope="col" style="width: 23%;">Empleado</th>
    <th scope="col" style="width: 22%;">Título</th>
    <th scope="col" style="width: 25%;">Carrera</th>
    <th scope="col" style="width: 23%;">Institución</th>
    <th scope="col" style="width: 10%;">Nivel</th>
    <th scope="col" style="width: 8%;">Año</th>
    <th scope="col" style="width: 5%;">Archivo</th>
    <th scope="col" style="width: 5%;" class="text-center">Opciones</th>
{% endblock %}
{% block content_list_before %}
    <div class="row">
        <div class="col-lg-6">
            <div class="form-group">
                <label>Por Empleado:</label>
                <div class="input-group mb-3">{{ filter_form.empleado }}</div>
            </div>
        </div>
        <div class="col-lg-6">
            <div class="form-group">
                <label>Por Institución:</label>
                <div class="input-group mb-3">{{ filter_form.institucion }}</div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-6">
            <div class="form-group">
                <label>Acciones:</label>
                <div class="input-group mb-3">
                    <div class="input-group-append">
                        <button id="btnBuscar" class="btn btn-warning btnBuscar" type="button">
                            <i class="fas fa-search"></i> Filtrar
                        </button>
                        <button id="btnTodos" class="btn btn-success btnTodos" type="button">
                            <i class="fab fa-searchengin"></i> Ver todos
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <hr>
{% endblock %}
