{% extends 'list_bascula.html' %}
{% load static %}
{% block head_list %}
    <link rel="stylesheet" href="{% static 'lib/bootstrap-daterangepicker-3.0.5/daterangepicker.css' %}" />
    <script src="{% static 'lib/bootstrap-daterangepicker-3.0.5/spanish.js' %}"></script>
    <script src="{% static 'lib/bootstrap-daterangepicker-3.0.5/daterangepicker.js' %}"></script>
    <script src="{% static 'movimiento/js/list.js' %}"></script>
    <script src="{% static 'movimiento/js/search_select2.js' %}"></script>
    <!-- DESHABILITAR BOTON DE IMPRESION| -->
    <style>
        .disabled_print {
            pointer-events: none;
            cursor: default;
        }
    </style>
{% endblock %}

{% block columns %}    
<th scope="col" style="width: 2%;">ID</th>
<th scope="col" style="width: 3%;">Ticket</th>
<th scope="col" style="width: 5%;">Fecha</th>
<th scope="col" style="width: 15%;">Cliente/<br>Destino</th>
<th scope="col" style="width: 15%;">Transporte/<br>Vehiculo</th>
<th scope="col" style="width: 20%;">Chofer</th>
<th scope="col" style="width: 15%;">Producto</th>
<th scope="col" style="width: 5%;">Tiempo<br>Descarga</th>  
<th scope="col" style="width: 5%;">Entrada</th>
<th scope="col" style="width: 5%;">Salida</th>
<th scope="col" style="width: 5%;">Neto</th>
<th scope="col" style="width: 5%;">Opciones</th>
{% endblock %}

{% block content_list_before %}

<input type="hidden" id="usu_change_movimiento" name="usu_change_movimiento" value="{{ usu_change_movimiento }}">

    <div class="row">
        <div class="col-lg-4">
            <div class="form-group">
                <label>Por Cliente:</label>
                <div class="input-group mb-3">
                    {{ form.cliente }}
                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="form-group">
                <label>Por Destino:</label>
                <div class="input-group mb-3">
                    {{ form.destino }}
                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="form-group">
                <label>Por Producto:</label>
                <div class="input-group mb-3">
                    {{ form.producto }}
                </div>
            </div>
        </div>
    </div>
 
    
    <div class="row">
        <div class="col-lg-4">
            <div class="form-group">
                <label>Por Transporte:</label>
                <div class="input-group mb-3">
                    {{ form.transporte }}
                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="form-group">
                <label>Por Vehiculo:</label>
                <div class="input-group mb-3">
                    {{ form.vehiculo }}
                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="form-group">
                <label>Por Chofer:</label>
                <div class="input-group mb-3">
                    {{ form.chofer }}
                </div>
            </div>
        </div>
    </div>
  

    <div class="row">
        <div class="col-lg-6">
            <div class="form-group">
                <label>Rangos de fechas:</label>
                <div class="input-group mb-3">
                    {{ form.date_range }}
                    <div class="input-group-append">
                        <button class="btn btn-warning btnFilter" type="button">
                            <i class="fas fa-search"></i> Filtrar
                        </button>     
                            <button class="btn btn-success btnSearchAll" type="button">
                                <i class="fab fa-searchengin"></i> Ver todos
                            </button>          
                    </div>
                </div>
            </div>
        </div>       
    </div>
    <hr>
{% endblock %}


<!-- {#% block javascript_list %} -->

<!-- {#% endblock %} -->